<!-- The word uppercase in the interpolation binding, 
right after the pipe operator ( | ), 
activates the built-in UppercasePipe.
Pipes are a good way to format strings, currency amounts, 
dates and other display data. -->
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="save()">save</button>
    <button (click)="goBack()">go back</button>
  </div>